﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Donatello.ViewModels.NewBoard

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h2>Add a new Board</h2>
    <form method="post" asp-controller="Home" asp-action="Create">
        <label>Title</label>
        <input type="text" asp-for="Title" />
        <input type="submit" class="btn" />
    </form>
</div>