﻿@model Donatello.ViewModels.AddCard

<div class="container">
    <div class="row">
        <h2>Add Card</h2>
        <form asp-action="AddCard" asp-controller="Board">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label asp-for="Contents"></label>
            <input type="text" asp-for="Contents" />
            <button type="submit" class="btn">Add it!</button>
        </form>

    </div>
</div>