﻿@model Donatello.ViewModels.BoardView
@{
    ViewData["Title"] = "Board View";
}

<div class="container">
    @if (Model.Columns.Count > 0)
    {
        <a asp-controller="Board"
           asp-action="AddCard"
           asp-route-id="@Model.Id"
           class="waves-effect waves-light btn">
            Add Card
        </a>
    }

    <div class="row">
        @foreach (var column in Model.Columns)
        {
            <div class="col m2">
                <h3>@column.Title</h3>

                @foreach (var card in column.Cards)
                {
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">                            
                            <p>
                                <a asp-controller="Card" asp-action="Details"
                                   asp-route-id="@card.Id" class="white-text">
                                    @card.Content
                                </a>
                            </p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

